// Home Content

.home {

  .intro {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }
  .main-header{
    border-radius: 1.0rem; //correct radius of img
    width: 100%; //needed for elimination horizontal scroll bar
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;    
    }
    .sky {
      @media @mobile {
        display: none; //img hide on mobile
      }
    }
    .launch {
      @media @mobile {
        display: none; //img hide on mobile
      }
    }
    .blast{
      @media @mobile { //mobile
        width:92%; 
      }
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    .flex(center, none); //mixin used
    @media @mobile{  //mobile 
      .flex(center, center);
      flex-direction: column-reverse; 
      position: relative;
      right: 1.1rem;
    }

    .walk-text {
      width: 50%;
      @media @mobile{
        width: 124%; //over good fit on screen 
        padding-top: 2rem;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn{
        .buttonstyle(1rem, 10rem); //mixin used
        @media @mobile{
          .buttonstyle(1rem, 34rem);
          height: 6rem; //adds heigth button on mobile
        }
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;
      @media @mobile {
        width: 126%;
      }
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
}// home